<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset='utf-8' content="JTN Seminar" name="Author"/>
    <title> JTN Calendar </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://designify.me/code-snippets/animated-buttons/css/btns.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/favicon.png" rel="icon"
          th:href="@{/favicon.png}">
    <link href="../static/css/3rdParty/bootstrap.5.1.1.min.css" rel="stylesheet"
          th:href="@{/css/3rdParty/bootstrap.5.1.1.min.css} "/>
    <script src="../static/js/3rdParty/jquery.3.6.0.min.js" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"
            type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="../static/css/3rdParty/bootstrap.3.4.1.min.css" rel="stylesheet"
          th:href="@{/css/3rdParty/bootstrap.3.4.1.min.css}">
    <script src="../static/js/3rdParty/moment.2.29.1.min.js" th:src="@{/js/3rdParty/moment.2.29.1.min.js}"
            type="text/javascript"></script>
    <script src="../static/js/3rdParty/fullcalendar.min.js" th:src="@{/js/3rdParty/fullcalendar.min.js}"
            type='text/javascript'></script>
    <link href="../static/css/3rdParty/fullcalendar.min.css" rel="stylesheet"
          th:href="@{/css/3rdParty/fullcalendar.min.css}"/>
    <script src="../static/js/calendar.js" th:src="@{/js/calendar.js}"
            type="text/javascript"></script>
    <link href="../static/css/calendar.css" rel="stylesheet"
          th:href="@{/css/calendar.css}"/>
</head>
<body id='body' th:id="body">
<img alt="ec" border="0" id="logo" src="https://i.ibb.co/hMPMCtJ/ec.jpg">
<div th:class="main-container">
    <div id='calendar' th:id="calendar"></div>
    <input id="classroomNumber" th:value="${classroomNumber}" type="hidden"/>
    <input id="professorName" th:value="${professorName}" type="hidden"/>
    <input id="courseValue" th:value="${courseValue}" type="hidden"/>
    <input id="userName" sec:authentication="name" sec:authorize="isAuthenticated()" th:value="${loggedInUser.getUserName()}"
           type="hidden"/>
    <div th:class="sidenav">
        <div id="navbar">
            <div class="dropdown" style="float:left;">
                <button class="drop-btn">Smjerovi</button>
                <div class="dropdown-content" style="left:0;">
                    <a class="dc-elem" th:each="course : ${courses}" th:href="@{'/course/' + ${course.name}}"
                       th:text="${course.name}">
                    </a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="dropdown" style="float:left;">
                <button class="drop-btn">Ucionice</button>
                <div class="dropdown-content" style="left:0;">
                    <a class="dc-elem" th:each="classroom : ${classrooms}"
                       th:href="@{'/classroom/' + ${classroom.classroom}}"
                       th:text="${classroom.classroom}">
                    </a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="dropdown" style="float:left;">
                <button class="drop-btn">Profesori</button>
                <div class="dropdown-content" style="left:0;">
                    <a class="dc-elem" th:each="professor : ${professors}"
                       th:href="@{'/professor/' + ${professor.professorName}}"
                       th:text="${professor.professorName}">
                    </a>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="dropdown" style="float:left;">
                <button class="drop-btn" sec:authorize="isAuthenticated()">Lista predmeta</button>
                <div class="dropdown-content" style="left:0;">
                    <!--         <a class="dc-elem" th:each="professor : ${professors}" th:text="${professor.professorName}" th:href="@{'/professor/' + ${professor.professorName}}">-->
                    <!--            </a>-->
                    <a th:href="@{'/list/'+winter}" th:text="Zimski"></a>
                    <a th:href="@{'/list/'+summer}" th:text="Ljetni"></a>
                </div>
            </div>
            <div class="dropdown" sec:authorize="isAuthenticated()" style="float:left;" th:if="${hideAndSeek}!=null">
                <form action="#" data-th-action="@{/}" method="post" th:object="${hideAndSeek}">
                    <input th:field="*{userName}" type="hidden"/>
                    <input th:field="*{allCoursesShown}" type="hidden">
                    <button class="drop-btn">Hide and seek</button>
                </form>
            </div>
            <br>
            <br>
            <br>
            <div class="dropdown" sec:authorize="hasRole('ROLE_MODERATOR')" style="float:left;">
                <button class="drop-btn" onclick="location.href = '/form/query';" style="text-align: left;">Rezervacija
                    ucionice
                </button>
            </div>
        </div>
        <div id="bottom" style="float:left;position:absolute; bottom:25px;">
            <div id="name" sec:authentication="name" sec:authorize="isAuthenticated()"></div>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6" onclick="location.href = '/user/login';"
                     sec:authorize="!isAuthenticated()"><a class="btn btn-sm animated-button thar-three">Login</a></div>
                <div class="col-md-3 col-sm-3 col-xs-6" onclick="location.href = '/logout';"
                     sec:authorize="isAuthenticated()"><a class="btn btn-sm animated-button thar-four">Logout</a></div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>